# Ignore node modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore database
server/database.sqlite

# Environment files
.env*
!.env.example
!server/.env.example
!client/.env.example
!client/.env.production

# Build artifacts
client/build/
*.zip

# Misc
.DS_Store
.vscode/
