# Ignore node modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore database
server/database.sqlite

# Environment files
.env*
!.env.example
!client/.env.production

# Misc
.DS_Store
.vscode/
